.content {
  display: flex;
  justify-content: space-between;
  background: black;
  display: flex;
  min-height: 92vh;
  background-image: url("./canyon.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-bikes {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.main {
  min-height: 92%;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.content {
  display: flex;
  justify-content: space-between;
}

.not-found {
  font-size: small;
}

.sidebar {
  width: 20%;
  padding: 10px;
  overflow-y: scroll;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  background-color: rgba(0, 0, 0, 0.468);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

@media screen and (max-width: 765px) {
  .content-bikes {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    align-items: center;
    background: #000000 url("./background-bikeCart.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .sidebar {
    display: none;
  }
}
