.add-bike-dashboard {
  width: 65%;
  background-color: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(20px);
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin: 2% 0% 2% 3%;
  }
}

.bike-cart-dashboard {
  flex-direction: column;
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-add-bike {
  width: 100%;
  min-height: 80%;
  display: flex;
  overflow: scroll;
  justify-content: space-around;
  margin: 2rem 0;

  label {
    font-size: medium;
    color: #000;
    margin-right: 15px;
  }
}

.input-text {
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  color: white;
  margin-bottom: 10px;
  border-radius: 0%;
}

.add-bike-siezes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  width: 30%;

  label {
    display: flex;
    align-items: center;
    color: white;
  }
}

.add-bike-form {
  display: flex;
  flex-direction: column;
  width: 85%;
  overflow: scroll;
}

.add-bike-btn {
  padding: 10px;
  height: 50px;
  background: #f1f1ef33;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
  margin: 10px 0;
}

.color-input {
  width: 30px;
  height: 30px;
  outline: none;
  background: none;
  border: none;
}

@media screen and (max-width: 765px) {
  .add-bike-dashboard {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 92vh;
    display: flex;

    h1 {
      font-size: 100%;
    }
  }

  .bike-cart-dashboard {
    width: 90%;
  }

  .x-dash {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 10px 0;
  }

  .color-input {
    width: 30px;
    height: 30px;
  }
}
