$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.basket img {
  width: 80%;
}

.basket-item {
  list-style: none;
  margin: 6% 0 0 0;
  padding: 0;
}

.basket-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.basket-header {
  display: flex;
  align-items: center;
  // height: 40px;
  font-size: 17px;
  justify-content: center;
}

.bike-box {
  background: rgba(255, 255, 255, 0.269);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 20px 20px 20px 10px;
  padding: 10px;
  min-height: 90px;
  --animate-duration: 700ms;
  --animate-delay: 3s;
}

.basket-content {
  display: flex;
  align-items: center;
  font-size: large;
}

.basket-img-box {
  width: 50%;
  display: flex;
}

.title-box {
  display: flex;
  justify-content: space-between;
  font-size: large;
}

.close-btn {
  cursor: pointer;
}

.form-container {
  width: 100%;
  --animate-duration: 600ms;
}

.form-box {
  list-style: none;
  padding: 0;
  list-style: none;
  margin: 0;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 90%;
  margin: 0 20px 10px 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  outline: 0;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 15px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #ffcc00;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  // border-image: linear-gradient(to right, rgb(0, 255, 229), #ffcc00);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.empy-bag {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.empy-icon {
  color: rgba(128, 128, 128, 0.199);
}

.cart-header {
  padding: 10px;
}
