@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.filter-container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  height: 6%;
  margin: 10px 0;
  align-items: center;

  span {
    font-size: 17px;
  }
}

.filter-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  span {
    font-size: 25px;
  }

  div {
    display: flex;
    align-items: center;
  }
}

.sort-select {
  margin: 0 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0 inset,
    #f1f1ef -3px -3px 6px 1px inset;
  font-size: 17px;
  padding: 4px;
  cursor: pointer;
}

.filter-sort span {
  font-size: 17px;
}

.size-select {
  margin: 0 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0 inset,
    #f1f1ef -3px -3px 6px 1px inset;
  font-size: 17px;
  padding: 4px;
  cursor: pointer;
}

.filter-size span {
  font-size: 17px;
}

.input-search {
  margin: 0 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0 inset,
    #f1f1ef -3px -3px 6px 1px inset;
  font-size: 17px;
  padding: 4px;
}

.filter-search {
  display: flex;
  align-items: center;
}

.filter-count {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

@media screen and (max-width: 765px) {
  .filter-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: auto;
    width: 90%;
    margin: 10px 0;

    span {
      font-weight: bold;
    }
  }

  .filter-count {
    margin: 10px 0;
  }

  .filter-search {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .filter-sort {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .filter-size {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .filter-box {
    flex-direction: column;
    animation: fade-in-top 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .filter-box-active {
    display: none;
  }

  .btn-filter {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    outline: none;
    background: #ffffff8c;
    border: none;
    cursor: pointer;
    justify-content: space-around;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    width: 125px;
  }
}

@media screen and (max-width: 1100px) {
  .filter-container {
    flex-wrap: wrap;
  }
}
