.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 6%;
  margin: 0 0 10px 0;
}

.filter-container {
  display: flex;
  align-items: center;
  height: 40px;
}

.filter-container span {
  font-size: 17px;
}

.sort-select {
  margin-left: 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    #f1f1ef -3px -3px 6px 1px inset;
  font-size: 17px;
  padding: 4px;
  cursor: pointer;
}
.filter-sort span {
  font-size: 17px;
}

.size-select {
  margin-left: 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    #f1f1ef -3px -3px 6px 1px inset;
  font-size: 17px;
  padding: 4px;
  cursor: pointer;
}

.filter-size span {
  font-size: 17px;
}

.input_search {
  margin-left: 10px;
  border: none;
  border-radius: 7px;
  outline: none;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    #f1f1ef -3px -3px 6px 1px inset;
  font-size: 17px;
  padding: 4px;
}

.filter-search {
  display: flex;
  align-items: center;
}

.filter-count {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 765px) {
  .filter-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 95%;
    margin-top: 10px;
    span {
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
  .filter-search {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .filter-sort {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .filter-size {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 3vh;
    border-bottom: solid 1px black;
  }
}
