@keyframes slide-top {
  0% {
    transform: translate(-50%, -200px);
  }

  100% {
    transform: translateY(-50%, -50%);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 50px;
  z-index: 1000;
  width: 55%;
  height: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  h6 {
    margin: 0;
  }
}

.overlay {
  display: block;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  animation: fadeIn 0.4s ease-out forwards;
}

.label-box {
  display: flex;
  align-items: center;
  padding: 15px 0 15px 40px;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: solid 1px rgb(176, 176, 176);
}

.label-container {
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
  backdrop-filter: blur(5px);
  padding: 0;
  width: 50%;
  height: 100%;
  height: 88%;
}

.label-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;

  li {
    font-size: 15px;
  }

  .sieze-p {
    margin: 0;
    font-size: 15px;
  }

  div {
    font-size: 15px;
    display: flex;
  }

  label {
    margin-right: 10px;
  }
}

.size-select {
  width: 100%;
}

.total-p {
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}

.summary-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.color-select-modal {
  margin: 0 0 0 10px;
  width: 15px;
  height: 15px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.x-modal {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.info-container {
  display: flex;
  flex-direction: row;
  height: 60%;
}

.info-box {
  width: 100%;
  height: 100%;
}

.info-tittle {
  display: flex;
  justify-content: space-around;
}

.contact-data-box {
  ul {
    list-style: none;
    width: 100%;
    font-size: 20px;
    margin: 35px 0 10px;
  }

  label {
    font-weight: bold;
  }

  li {
    margin: 15px 0 10px;
  }
}

.succes-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 765px) {
  .modal {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-y: scroll;
    justify-content: space-between;
    display: grid;

    p {
      margin: 0 20px;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .x-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
  }

  .x-modal {
    position: relative;
    right: 0;
    top: 0;
    margin-right: 10px;
  }

  .info-container {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 10px 0;
  }

  .label-container {
    width: 90%;
    margin: 10px 0;
    overflow: initial;
    height: auto;
  }

  .summary-box {
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .info-tittle {
    display: none;
  }

  .succes-box {
    height: 100%;
    padding: 10px;
    display: flex;
    font-size: 4vh;
    flex-direction: column;
    justify-content: center;
  }

  .contact-data-box {
    width: 88%;

    ul {
      margin: 0;
      font-size: 15px;
      padding-inline-start: 0;
    }
  }

  .label-info div {
    align-items: center;
  }
}
