@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }

  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0.8;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.dashboard-container {
  height: 92vh;
  display: flex;
  justify-content: flex-end;
}

.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.dashboard-box {
  display: flex;
  background-color: rgba(0, 0, 0, 0.249);
  width: 35%;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: white;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  h2 {
    margin: 0 25px;
  }

  p {
    margin: 25px;
  }
}

.dash-btn {
  padding: 10px;
  height: 50px;
  width: 40%;
  background: #f1f1ef33;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: large;
  margin: 10px 0;
}

.dash-btn:hover {
  background-color: #cdcdcdad;
}

.command-box {
  width: 65%;
  background-color: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(20px);
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    margin: 2% 0% 2% 3%;
  }
}

.x-dash {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.icons-box {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 765px) {
  .dashboard-box {
    width: 100%;
    backdrop-filter: blur(0);
    animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  .dashboard-container {
    background: #000 url("./dashboard-backgroun.jpg");
    background-size: cover;

    h1 {
      font-size: 35px;
    }

    .dash-btn {
      background-color: rgba(255, 255, 255, 0.68);
      color: black;
    }
  }

  .command-box {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    h1 {
      font-size: 100%;
      margin: 10px 0 20px 20px;
    }

    .order-container {
      overflow: scroll;
    }

    .order {
      display: grid;
    }
  }

  .table-box {
    flex-direction: column;
  }

  .contact-table {
    width: 100%;
  }

  .div-close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .x-dash {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 10px 0;
  }

  .order-box {
    width: auto;
  }
}
