footer {
  width: 100%;
  background-color: #ffcc00;
  display: flex;
  height: fit-content;
  justify-content: space-around;
  padding: 20px 0 20px 0px;
  position: absolute;
  button {
    font-size: 15px;
    border: none;
    height: 49px;
    width: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
    cursor: pointer;
    background: #00000021;
    border-radius: 50px;
    &:hover {
      background-color: #00000021;
    }
    &:hover .rocket {
      --animate-duration: 2s;
    }
  }
}

.rocket {
  --animate-duration: none;
}

.social-media {
  display: flex;
  justify-content: space-between;
  a {
    border-radius: 50%;
    background-color: #00000021;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    margin: 5px;
  }
}

.navigation-footer-box {
  display: flex;
  flex-direction: column;

  .h4-fotter {
    margin: 0px;
  }
  .NavLink-fotter {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 17px;
    .arrow {
      --animate-duration: none;
    }
    &:hover .arrow {
      --animate-duration: 1s;
    }
  }
}

@media screen and (max-width: 765px) {
  footer {
    flex-direction: column;
    align-items: center;
    // height: 42%;
    min-height: 370px;
  }
  .navigation-footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
