$warning: rgb(250, 7, 7);
$formColor: #d5d5d5ad;

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.login-containter {
  height: 92vh;
  color: white;
  display: flex;
  justify-content: space-between;
  background: #000 url("./login-background.jpg");
  background-size: cover;
}

.login-content {
  width: 60%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;

  p {
    margin: 0;
  }

  div {
    width: 75%;
    margin-left: 2rem;
    height: fit-content;
  }
}

.login-panel {
  display: flex;
  background-color: rgba(0, 0, 0, 0.468);
  width: 35%;
  backdrop-filter: blur(20px);
  justify-content: center;
  align-items: center;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.link-login {
  list-style: none;
  text-decoration: none;
  color: $formColor;
  font-size: small;
  border-bottom: 1px solid;
}

.background-img-login {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.error-login {
  font-size: small !important;
  color: $warning !important;
}

.link-login:hover {
  color: white;
}

@media screen and (max-width: 765px) {
  .login-content {
    display: none;
  }

  .login-panel {
    width: 100%;
    animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    background-color: rgba(0, 0, 0, 0.673);
    backdrop-filter: blur(0);
  }

  .login-containter {
    background: #000 url("./login-background_mobile.jpg");
    background-size: cover;

    label {
      color: white;
    }

    input {
      color: white;
      width: 98%;
      font-size: 3vh;
    }

    .link-login {
      color: white;
      font-size: x-small;
    }
  }
}
