@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

$grey: rgb(120, 120, 120);
$yellow: rgb(255, 204, 0);
$black: rgb(0, 0, 0);
$overlay: rgba(0, 0, 0, 0.7);
$white: rgb(255, 255, 255);
$aActive: white;
$titleColor: #f90;

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}

html {
  font-size: 62, 5%;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.main-nav {
  background-color: $black;
  color: $black;
  display: flex;
  align-items: center;
  height: 60px;
  position: sticky;
  z-index: 5;
  top: 0;
  box-shadow: 0 4px 16px -1px $grey;
  transition: ease-in 0.5s;

  a {
    color: $white;
    margin: 30px;
    text-decoration: none;
    animation: fadeIn 0.4s ease-out forwards;
  }

  :hover {
    color: $titleColor;
  }
}

.main-nav-hide {
  top: -100px;
  transition: ease-out 0.5s;
}

.nav-link.active {
  color: $titleColor;
  animation: fadeIn 0.4s ease-out forwards;
}

.burger-menu {
  display: none;
}

.basket-icon {
  display: none;
}

.amount-basket {
  display: none;
}

.basket-nav-link {
  display: none;
}

@media screen and (max-width: 765px) {
  .burger-menu {
    display: block;
    cursor: pointer;
    margin-left: 10px;
    color: $white;
  }

  .navlink-box {
    position: absolute;
    width: 50%;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    top: 59px;
    left: -100%;
    transition: 850ms;
    background-color: $black;
  }

  .navlink-box.active {
    left: 0;
    transition: 350ms;
  }

  .hide {
    transform: translateY(-50px);
  }

  .main-nav {
    justify-content: space-between;

    a {
      color: $white;
      text-decoration: none;
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }

    :hover {
      color: white;
    }
  }

  .nav-link.active {
    text-decoration: none;
    background: $titleColor;
    color: white;
  }

  .overlay-burger {
    display: block;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $overlay;
    z-index: 5;
    animation: fadeIn 0.4s ease-out forwards;
  }

  .basket-icon {
    cursor: pointer;
    display: block;
    margin-right: 10px;
    animation:
      shake-vertical 0.8s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }

  .amount-basket {
    background: $white;
    border: 3px solid $black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 900;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 3px;
    right: 3px;
    color: $black;
    animation:
      shake-vertical 0.8s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  }
}
